<a href="https://colab.research.google.com/github/fyezool/python-learn/blob/master/python_codecamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python learning using freecodecamp Videos

### Hello world as usual

In [0]:
print('Hello')

Hello

In [0]:
a = 'Hello pythonggggggg'
print(a)

Hello pythonggggggg

### Draw object

In [0]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

## Variables and Data Types

In [0]:
character_name = "Mambang"
character_age =  "3565442543251352"

print("There once was a man named " +character_name + ",")
print("he was " +character_age +" years old.")

character_name = "Mike"
print("He really liked the named " +character_name + ",")
print("but didnt like being " +character_age +".")

There once was a man named Mambang,
he was 3565442543251352 years old.
He really liked the named Mike,
but didnt like being 3565442543251352.

## String Manipulation

In [0]:
print("Hey yo")
print("Hello \t yo")
print("Hello \n yo")

Hey yo
Hello 	 yo
Hello
 yo

In [0]:
phrase = "Hello Yo"
print(phrase)
print(phrase + " but whyyyyy")

Hello Yo
Hello Yo but whyyyyy
2

In [0]:
## upper and lower function , length
print(phrase.upper())
print(phrase.lower())
print(phrase.isupper())
print(phrase.lower().islower())
print(len(phrase))

HELLO YO
hello yo
False
True
8

In [0]:
## indexing placement and value

print(phrase[3])  ##access character using index value ##index start with 0
print(phrase.index("o")) ##print index number
print(phrase.index("llo"))

l
4
2

In [0]:
## replacing string
print(phrase + " =>Before replace")
print(phrase.replace("Hello", "Kontol") + " =>Replaced")

Hello Yo =>Before replace
Kontol Yo =>Replaced

### String formatting

In [0]:
name ="John"
age = 35
 height = 
 weight = 
print("hello %s your age is %d" % (name, age))

hello John your age is 35

## Numbers

In [0]:
a = 3
b = 4
## Addition
print(a+b, "=> addition")

##Substraction
print(a - b, "=> substraction")

## Multiplication
print(a * b, "=> multiply")

## Division
print(a / b, "=> divide")

## Modulo
print(a % b, "=> modulo")

7 => addition
-1 => substraction
12 => multiply
0.75 => divide
3 => modulo

## Using str() method

In [0]:
some_text = "just a damn text i want to use"
some_number = "8766876"

print(some_text)

print(some_number)

print(some_number, some_text )

print(str(some_number) + " This number have been converted into some damn string")

print(some_number + " Added text without converting")

num = -10000
print(abs(num) ,"Absolute value function")

print(pow(2, 10), "Power of")

## max(), return larger number between comparison
print(max(100000,198724893648934,1918908908, 987897897897897), " Return large number between two value")

## Round the floating number to absolute value
print(round(1213.32332))

just a damn text i want to use
8766876
8766876 just a damn text i want to use
8766876 This number have been converted into some damn string
8766876 Added text without converting
10000 Absolute value function
1024 Power of
987897897897897  Return large number between two value
1213

## function() in math libraries

In [0]:
## import all math function

from math import *

print(floor(3.7), "Round to number lower than (X) values")

print(ceil(3.7), "round number higher than (X) value")

print(sqrt(1000))

3 Round to number lower than (X) values
4 round number higher than (X) value
31.622776601683793

## User Input

In [0]:
name = input("Enter your name :")
age = input("Just key in your goddamn age :")
print("hello " + name + " your age is " + age + ". Goddamn youre old")

## Basic calculator building

In [0]:
print("------------------------------------------------")
print("This stupid calculator can add numbers, use wisely")
print("------------------------------------------------")


FirstNumber = float(input("Enter the first number :")) #typecasting
SecondNumber = float(input("Enter the second number :"))
numberSum = FirstNumber + SecondNumber
print("After the meeting with elders, it is decided that the sum of the numbers that have been inserted by you is", +numberSum )

------------------------------------------------
This stupid calculator can add numbers, use wisely
------------------------------------------------
Enter the first number :23
Enter the second number :2556
After the meeting with elders, it is decided that the sum of the numbers that have been inserted by you is 2579.0

## Mad libs Game

In [0]:



print("Ferrari are {color}")
print("{team_name} are blue")
print("{place} is long") 
print("{name} will cry too")