<h2> Python learning using freecodecamp Videos <h2>

## Hello world as usual

In [ ]:
print('Hello')

In [ ]:
a = 'Hello pythonggggggg'
print(a)

## Draw object

In [ ]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

## Variables and Data Types

In [ ]:
character_name = "Mambang"
character_age =  "3565442543251352"

print("There once was a man named " +character_name + ",")
print("he was " +character_age +" years old.")

character_name = "Mike"
print("He really liked the named " +character_name + ",")
print("but didnt like being " +character_age +".")

## String Manipulation

In [ ]:
print("Hey yo")
print("Hello \t yo")
print("Hello \n yo")

In [ ]:
phrase = "Hello Yo"
print(phrase)
print(phrase + " but whyyyyy")

In [ ]:
## upper and lower function , length
print(phrase.upper())
print(phrase.lower())
print(phrase.isupper())
print(phrase.lower().islower())
print(len(phrase))

In [ ]:
## indexing placement and value

print(phrase[3])  ##access character using index value ##index start with 0
print(phrase.index("o")) ##print index number
print(phrase.index("llo"))

In [ ]:
## replacing string
print(phrase + " =>Before replace")
print(phrase.replace("Hello", "Kontol") + " =>Replaced")

### String formatting

In [ ]:
name ="John"
age = 35
 height = 
 weight = 
print("hello %s your age is %d" % (name, age))

## Numbers

In [ ]:
a = 3
b = 4
## Addition
print(a+b, "=> addition")

##Substraction
print(a - b, "=> substraction")

## Multiplication
print(a * b, "=> multiply")

## Division
print(a / b, "=> divide")

## Modulo
print(a % b, "=> modulo")

## Using str() method

In [ ]:
some_text = "just a damn text i want to use"
some_number = "8766876"

print(some_text)

print(some_number)

print(some_number, some_text )

print(str(some_number) + " This number have been converted into some damn string")

print(some_number + " Added text without converting")

num = -10000
print(abs(num) ,"Absolute value function")

print(pow(2, 10), "Power of")

## max(), return larger number between comparison
print(max(100000,198724893648934,1918908908, 987897897897897), " Return large number between two value")

## Round the floating number to absolute value
print(round(1213.32332))

## function() in math libraries

In [ ]:
## import all math function

from math import *

print(floor(3.7), "Round to number lower than (X) values")

print(ceil(3.7), "round number higher than (X) value")

print(sqrt(1000))

## User Input

In [ ]:
name = input("Enter your name :")
age = input("Just key in your goddamn age :")
print("hello " + name + " your age is " + age + ". Goddamn youre old")

## Basic calculator building

In [ ]:
print("------------------------------------------------")
print("This stupid calculator can add numbers, use wisely")
print("------------------------------------------------")


FirstNumber = float(input("Enter the first number :")) #typecasting
SecondNumber = float(input("Enter the second number :"))
numberSum = FirstNumber + SecondNumber
print("After the meeting with elders, it is decided that the sum of the numbers that have been inserted by you is", +numberSum )

## Mad libs Game

In [ ]:
color = input("Enter the color of your choice :")
team_name = input("Enter the F1 team of your choice :")
place = input("Enter your favourite F1 venue :")
name = input("Enter your F1 favourite pilot :")
print("\n------------------------------------")
print("\nFerrari are " + color)
print(team_name+ " are blue")
print(place + " is long") 
print(name + " will cry too")

## List

In [ ]:
## List used for manage and store data
## List use sq bracket
## can be numbers, string, boolean

friends = ["kevin", "mambang", "thanos", "tohdek"]

In [ ]:
# well, this one self-explain
print(friends[0])

In [ ]:
##Multiple value print
print(friends[1:3])

In [ ]:
    #include <stdio.h>

    int main (void)
    {
        float values[10] = {0};

        for ( int i = 0; i <= 10; i++ )
        {
            printf("Enter the %ith number: ", i);
            scanf("%f", &values[i]);
            printf("\n");
        }
    }##Change value
friends[1] = "Mike"
print(friends)

## List Functions

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
name = ["Mike", "Chew", "Amirul", "Rouffy"]

In [ ]:
## append individual element
name.append("Nigga")
print(name, "Appended inividial list")

In [ ]:
## Insert method
name.insert(1, "Anli")
print(name, "Inserted new element")

In [ ]:
## Remove method
name.remove("Chew")
print(name, "removed chew")

In [ ]:
## clear method
name.clear()
print(name)

In [ ]:
## index
print(name.index("Amirul"))

In [ ]:
## pop method
## pop method remove last element in list
name.pop()
print(name)

In [ ]:
## Count method
## Count how many elements
new_name = ["Brian", "Brian", "Brian", "Umer"]
print(new_name.count("Brian"))

In [ ]:
## Sort elements in list
## default in ascending order

name.sort()
print(name)

In [ ]:
## sorting number in ascending sequence

lucky_numbers.sort()
print(lucky_numbers)

In [ ]:
## Reversing element in list
## Descending order

lucky_numbers.reverse()
print(lucky_numbers)

In [ ]:
## copy function
## copy the whole element in list

name2 = name.copy()
print(name)

## Tuple

- type of data structure
- container to store different values
- used for data likes coordinate
- use open parentheses
- tuples cant changed or modified
- mutated data like coordinate

In [ ]:
coordinates = [(4,5),(54,2),(1,2),(14,78867) ]
coordinates[1] = 10
print(coordinates[1])

## Functions

In [ ]:
def sayhi(): ##line after this will be inside function
    print("Hey bro")

print("Top")
sayhi()
print("Bottom")

In [ ]:
def say_hi(name, age):
    print("Hello " + name + "You are " + str(age) + " years old")
    
say_hi("Mike", 121233)
say_hi("Mambang", 21132)
say_hi("Chew", 6)

## Return Statements

In [ ]:
def cube(num):
   return num*num*num

result = cube(4)
print(result)

## IF - Statements

In [ ]:
a = int(input("Enter the desired number"))

if a < 1:
    print("A i bitch")
else:
    print("A is good")

##### Side Note 
-    **=** is assignment operator while **==** is equality

## A better calculator, with IF or SWITCH

In [ ]:
## using bare if elif

a = input("Enter the desired operation, e.g (- + / or *)")
firstnum = int(input("Enter the first number"))
secondnum = int(input("Enter the second number"))

if a == "+":
    sum = firstnum + secondnum
    print(sum)
elif a == "-":
    sum = firstnum - secondnum
    print(sum)
elif a == "/":
    sum = firstnum / secondnum
    print(sum)
elif a == "*":
    sum = firstnum * secondnum
    print(sum)

In [3]:
## apparently no switch-case available for python

## Dictionaries

In [ ]:
## special structures in python that allow us to store information
## key-value pair

## While Loop

## Guessing game building

## For Loop

## Exponent Function

## 2D list & Nested Loop

## Build Translator

## Comments

## Try Except

## Reading files

## Writing files

## References

+ programming with Python https://swcarpentry.github.io/python-novice-inflammation/index.html
+ DataFrame Visualization https://kanoki.org/2019/09/16/dataframe-visualization-with-pandas-plot/